<!DOCTYPE html>
<html>
<head>
    <title>Ajouter Courrier Sortant</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container" style="  background-color: rgb(235, 224, 212);">
        <h2>Ajouter un courrier sortant</h2>
        <form method="post" action="/sortant/add">
            <div class="form-group">
                <label>Sujet:</label>
                <input type="text" name="sujet" class="form-control rounded-pill" required>
            </div>
            <div class="form-group">
                <label>Date d'Envoi:</label>
                <input type="date" name="dateEnvoi" class="form-control rounded-pill" required>
            </div>
            <div class="form-group">
                <label>Contenu:</label>
                <textarea name="contenu" class="form-control rounded-pill" required></textarea>
            </div>
            <div class="form-group">
                <label>Destinataire:</label>
                <input type="text" name="destinataire" class="form-control rounded-pill" required>
            </div>
            <button type="submit" class="my-3 btn btn-success rounded-pill form-control">Ajouter <span class="fas fa-plus"></span></button>
        </form>
        <div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Sujet</th>
                        <th>Date d'Envoi</th>
                        <th>Destinataire</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% courriers.forEach(courrier => { %>
                        <tr>
                            <td><%= courrier.id %></td>
                            <td><%= courrier.sujet %></td>
                            <td><%= courrier.dateEnvoi %></td>
                            <td><%= courrier.destinataire %></td>
                            <td>
                                <a href="/sortant/edit/<%= courrier.id %>" class="btn btn-warning">Modifier</a>
                                <a href="/sortant/delete/<%= courrier.id %>" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    
    </div>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
